.banner{
    margin: 25px 0;
}

.home {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.icon{
    cursor: pointer;
}

.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-around;

}

.topCat > img {
    aspect-ratio: 4/5;
    width: 500px;
}

.botCat {
    position: relative;

}

.botCat > img {
    aspect-ratio: 4/5;
    position: relative;
    width: 250px;

}

#bags {
    bottom: 50px
}

#bagsPhoto {
    width: 300px;
    height: 300px;
}
.top, .bot {
    margin: 40px 10px 10px 10px;
}


.firstRow, .secondRow, .thirdRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.topCat, .botCat {
    text-align: center;
    margin: 15px 0;
}

h3, p, h4 {
    margin: 0;
}

.categories span {
    color: black;
    font-weight: bold ;
    text-decoration: underline;
    cursor: pointer;
}

.thirdRow > img {
    aspect-ratio: 1;
    width: 250px;
    cursor: pointer;
    margin-bottom: 100px;
    margin-right: 20px;
}

.slideshow {
    position: relative;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.slideImgs {
    aspect-ratio: 16 / 9;
    width: 1200px;
    overflow: hidden;
    position: relative;
}

.mySlides {
    display: none;
    width: 1200px;
}

.arrow {
    padding: 15px;
}

.arrow:hover {
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.8)
}



.text {
    color: #f2f2f2;
    font-size: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    position: absolute;
    bottom: 0;
    max-width: 1200px;
    min-width: 1200px;
    width: 100%;
    text-align: center;
    background-color: #222428
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease;
}

.dotContainer {
    display: flex;
    justify-content: center;
}

.dot:hover {
    background-color: #252525
}
