.banner{
    margin: 25px 0;
}

.slider-wrapper {
    position: relative;
    max-width: 80rem;
    margin: 0 auto;
}

.slider{
    display: flex;
    aspect-ratio: 16 / 8;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slider > img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    margin-top: 20px;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 10px;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    transition: opacity ease 250ms;
}
.slider-nav a:hover{
    opacity: 1;
}

.home {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.icon{
    cursor: pointer;
}

.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-around;

}

.topCat > img {
    aspect-ratio: 4/5;
    width: 500px;
}

.botCat {
    position: relative;

}

.botCat > img {
    aspect-ratio: 4/5;
    position: relative;
    width: 250px;

}

#bags {
    bottom: 50px
}

#bagsPhoto {
    width: 300px;
    height: 300px;
}
.top, .bot {
    margin: 40px 10px 10px 10px;
}


.firstRow, .secondRow, .thirdRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.topCat, .botCat {
    text-align: center;
    margin: 15px 0;
}

h3, p, h4 {
    margin: 0;
}

p > a {
    color: black;
    font-weight: bold ;
}

.thirdRow > img {
    aspect-ratio: 5/4;
    width: 250px;
}
