@import url('https://fonts.googleapis.com/css?family=Alex+Brush');

body{
    margin : 0px !important;
 }

 .header {
    position: sticky;
    top: 0;
    z-index: 1;
 }
.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
    background-color: black;
    height: 30px;
    align-items: center;
}
.container2 {
    background-color: white;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 15px;
    border-bottom: 1px solid rgb(165, 165, 165);
    align-items: flex-end;
}

#title{
    font-size: 80px;
    text-align: center;
    font-weight: 900;
    font-family: 'Alex Brush';

}

.containerItem{ 
    padding: 30px;
    border-right: 1px solid white;
}

.search {
    padding: 30px;
}

.icon {
    margin-right: 6px;
}

#magnifying {
    padding-left: 6px;
}

.input {
    width: 250px;
}

.nav > a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    font-weight: 300;
}