.account h1 {
    padding: 0;
    margin: 0;

}
.profile {
    max-width: 750px;
    padding: 20px;
    width: 100%;
    margin: 20px auto;
    border: 5px inset rgb(170, 169, 169);
}

.purchases{
    max-width: 750px;
    padding: 20px;
    width: 100%;
    margin: 20px auto;
    border: 5px outset rgb(170, 169, 169);
}