.viewCart-container{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    padding: 50px 0 100px 0;
    font-size: 17px;
    background-color: rgb(245, 245, 245);
}

.cart-items {
    display: flex;
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 10px;
    width: 800px;
}

.cart-items img {
    width: 200px;
}

.item-conatiner p {
    margin-left: 10px;
    margin-bottom: 10px;
}

.checkout{
    margin-left: 100px;
    margin-top: 88px;
    border: 2px double black;
    padding: 0 30px 30px 30px;
    width: 300px;
}

.checkout p{
    padding: 5px 0;
    border-bottom: 1px solid black;
}

.checkout span{
    float: right;
}

#lastp{
    padding: 5px 0;
    margin-bottom: 10px;
    border: none;
}
.checkout button {
    background-color: black;
    color: white;
    padding: 10px;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
}

.checkout button:active{
    box-shadow: 0px 0px 5px 3px rgba(141, 140, 140, 0.4);
}
.checkout button:hover{
    background-color: rgb(71, 71, 71);
}